/*Define cor, entre outros atributos da div home*/
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid white;
}

.img-tela-inicial {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  object-position: center;
}

.inicio {
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid white;
}

.inicio h2 {
  margin-left: 15px;
  background-color: rgba(49, 28, 28, 1);
}

.pedidosDia {
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: row;
  justify-content: center;
  padding-right: 17px;
}

.pedidosDia article {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 250px;
  background-color: rgba(146, 104, 104, 1);
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
}

.img-promo {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  border-radius: 20px;
  margin: 5px;
  background-color: rgba(146, 104, 104, 1);
}

.img-promo img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
  object-position: 50% 76%;
  border-radius: 20px;
}

/* .img-promo img:hover {
  width: 255px;
  height: 155px;
  object-fit: cover;
  object-position: 50% 76%;
  
} */

.img-promo h3 {
  font-size: 15px;
  background-color: rgba(146, 104, 104, 1);
  margin-bottom: 5px;
}

.img-promo button {
  display: flex;
  width: 125px;
  height: 33px;
  margin-top: auto;
  background-color: rgba(146, 104, 104, 1);
  border: none;
  border-radius: 20px;
  border: 1px solid rgba(49, 28, 28, 1);
  font-size: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img-promo button:hover {
  background-color: rgba(49, 28, 28, 1);
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: rgba(146, 104, 104, 1);
}

.info-item p {
  width: 160px;
  height: 80px;
  font-size: 13px;
  margin-top: 15px;
  background-color: rgba(146, 104, 104, 1);
}

.info-item h3 {
  font-size: 12px;
  margin-top: 15px;
  background-color: rgba(146, 104, 104, 1);
}

.set-quantidade {
  width: 110px;
  height: 35px;
  margin-top: 15px;
  background-color: rgba(146, 104, 104, 1);
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
}

.set-quantidade button {
  font-size: 20px;
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(146, 104, 104, 1);
  padding: 5px;
  border: none;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}

.set-quantidade span {
  font-size: 13px;
  background-color: rgba(146, 104, 104, 1);
}

.botao-carrinho button {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: white;
  border: none;
  border-radius: 50%;
  bottom: 25px;
  right: 50px;
}

.botao-carrinho button img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.indice-carrinho {
  position: absolute;
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  bottom: 80px;
  right: 105px;
}

.indice-carrinho p {
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  background-color: red;
  border-radius: 50%;
}
