.container-edit-itens {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid white;
}

.produtos {
  width: 100%;
  display: flex;
  padding: 5px;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}

.produtos h2 {
  position: relative;
  margin: 10px;
  background-color: rgba(146, 104, 104, 1);
}

.produtos .itens-promo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.produtos .img-promo {
  display: flex;
  width: 300px;
  height: 200px;
}

.produtos article {
  width: 50%;
  height: 270px;
  display: flex;
  flex-direction: row;
  background-color: rgba(146, 104, 104, 1);
  padding: 20px;
  border: 1px solid rgba(49, 28, 28, 1);
  border-radius: 10px;
}

.produtos .info-item {
  width: 370px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(49, 28, 28, 1);
  border-radius: 10px;
}

.produtos .info-item p {
  width: 100%;
  font-size: 14px;
}

.produtos .info-item h3 {
  font-size: 16px;
}

.invisible {
  display: flex;
  width: 250px;
  height: 30px;
  margin-top: 10px;
  background-color: rgba(146, 104, 104, 1);
  font-size: 14px;
  border: 1px solid rgba(49, 28, 28, 1);
  border-radius: 5px;
  padding: 5px;
  color: rgb(243, 150, 150);
}

.invisible p {
  width: 100%;
  height: 100%;
  background-color: rgba(146, 104, 104, 1);
}

.buttom-edit {
  width: 200px;
  align-items: center;
  justify-content: center;
  background-color: rgba(146, 104, 104, 1);
  display: flex;
  flex-direction: column;
}

.buttom-edit button {
  margin: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  background-color: rgba(146, 104, 104, 1);
}

.buttom-edit img {
  width: 100%;
  height: 100%;
  background-color: rgba(146, 104, 104, 1);
}

.buttom-edit-itens-not_fav {
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: rgba(146, 104, 104, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttom-edit-itens-not_fav button {
  width: 35px;
  height: 35px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: rgba(146, 104, 104, 1);
}

.buttom-edit-itens-not_fav img {
  width: 100%;
  height: 100%;
  background-color: rgba(146, 104, 104, 1);
}

.titulo {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(146, 104, 104, 1);
  flex-direction: row;
}

.titulo h2 {
  margin-right: auto;
}

.titulo button {
  width: 190px;
  height: 45px;
  border: 0.5px solid rgba(146, 104, 104, 1);
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  margin-left: auto;
}

.titulo button:hover {
  background-color: rgba(146, 104, 104, 1);
  border: 1px solid rgba(49, 28, 28, 1);
}

.titulo .obs {
  border: 1px solid rgba(49, 28, 28, 1);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  background-color: rgba(146, 104, 104, 1);
}
